<% provide(:title, 'SMWeather')%>

<h1>SMWeather</h1>
<p>Welcome to SMWeather, the simple text-message weather forecast service.</p>

<div class="row">
   <div class="large-3 columns ">
 	 <%= form_tag("/textTrial", method: "post") do %>
     <%= text_field_tag( :number,"Enter Phone Number", class: "inline") %>
  	 <%= submit_tag( "Text me the weather!", class: "button inline") %>
  	</div>
  </div>

  <div class="row">
  	<div class="one columns">
	<%= link_to image_tag('stockCellPhone.jpg', alt: "stock cell phone image") %>
	</div>
</div>
	
<div class="row">
	<%= link_to 'Sign Up Now', signup_path, class: "button" %>
</div>


<% end %>





