


<h1>SMWeather</h1>
<p>Welcome to SMWeather, the simple text-message weather forecast service.</p>

<div class="row">
  <%= form_tag("/textTrial", method: "post") do %>
  <div class="small-5 columns ">
    <%= text_field_tag( :number,"Enter Phone Number", class: "inline right") %>
  </div>
  <%= submit_tag( "Text me the weather!", class: "button inline") %>
</div>
<% end %>


<%= link_to image_tag('stockCellPhone.jpg', alt: "stock cell phone image") %>


<%= link_to 'Sign Up Now', signup_path, class: "button" %>
